[2018-02-10 04:11] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-03-02 21:11] danielrea opened #2 "Should ContractForm also have methodArgs()"
I'm trying to make a secondary hd account call to ContractForm but only ContractData takes methodArgs().

Is there some reason why ContractForm shouldn't have arguments also or is there another way to send the transaction from a secondary account.

[2018-03-04 17:42] danielrea commented on #2
In my use case it worked by changing the ContractForm component handleSubmit() from `this.contracts[this.props.contract].methods[this.props.method].cacheSend(...Object.values(this.state));`
into this
    `this.contracts[this.props.contract].methods[this.props.method].cacheSend(...Object.values(this.state),...Object.values(this.props.methodArgs));`

[2018-03-09 10:20] fl0ster opened #4 "ContractData does not update when it's props change"
I would expect ContractData component to update it's content when one of it's props value is changed. Instead it remains fixed with data it received on application load.

I submitted a pull request that solved the issue for me.

[2018-03-12 08:37] tcz001 commented on #4
hi, could this be merged?

[2018-03-17 18:32] latenssi opened #6 "ContractData: Bug in displayData array type check and rendering"
I am pretty sure that in [ContractData.js#L68](https://github.com/trufflesuite/drizzle-react-components/blob/master/src/ContractData.js#L68) the check whether the *displayData* object is an array or not is incorrect.

The correct would be: ` if (displayData instanceof Array) `.

[2018-03-17 19:04] latenssi commented on #6
There was also a bug in the rendering of the array.

I have combined a fix for both issues in PR #7.

[2018-03-23 00:25] xtellurian opened #8 "ContractForm: bool types are not rendered with labels."
Some contracts have boolean types in their method signatures.

For example:
[code]

When these methods are rendered in a ContractForm, the bool types render as follows:

[code]

becomes

[code]

When this renders in a browser, the **checkbox inputs do not have labels**, meaning the user does not know the meaning of the check boxes.

[2018-03-23 01:17] xtellurian commented on #8
#9 proposes a fix

[2018-04-02 21:05] chunkzer commented on #6
I just ran into this. Good work and thank you for the fix @latenssi, hopefully it gets merged soon.

[2018-04-06 15:17] djudjuu opened #11 "ContractData: does not work for mappings"
When wanting to display a contracts mapping, such as
`mapping (uint => bool) public isCoolNumber;`

with
 `ContractData contract="SimpleStorage" method="cool"  methodArgs={[8]}`

i get
`utils.js:240 uncaught at l TypeError: e.slice is not a function`

I tried this by adjusting the drizzle-box.

[2018-04-18 19:47] RyRy79261 opened #13 "ContractData: Not updating on change"
```<ContractData contract="ERC223StandardToken" method="balanceOf" methodArgs={[this.props.accounts[0],{from: this.props.accounts[0]}]} />```

```<Faucet contract="ERC223StandardToken" method="faucet" />```

Faucet function signs transaction, updating user balance with 200 tokens. ContractData component displays out of sync icon but does not update to new balance, refreshing page, ContractData dis

[2018-04-24 05:57] tkddn204 opened #15 "ContractData: Address Array is not shown"
I just use this code, but I can't show address type data list...
[code]

And My contract Code is here:
[code]

This is result page:
![result page](https://user-images.githubusercontent.com/6284140/39168489-0aa97256-47cf-11e8-9475-d43fff5ed733.png)

Contract codes already success Compile and Migration,
I also used properties of `toUtf8`, `toAscii`, It is not working.
How can I solve this?

[2018-05-04 06:25] sevriugin opened #16 "ContractForm does not work correctly with Bool type method argument"
I am calling vote method in Contract Form
[code]
and the second argument always receive FALSE as a value, so the voting result is negative
There is my contract method :
[code]

[2018-05-04 19:38] bgits opened #17 "ContractForm should be able to send value for interaction with payable methods"
A common use case to is to send Eth to a contract for example wrapped-eth (https://weth.io/).

Currently this will not work as the `deposit` method is a payable with no arguments and the methodArgs does not exist for this component.

`<ContractForm contract="WrappedEth" method="deposit" methodArgs={[{value: 1000000}]}/>`

The preferred implementation would probably be to display an input field whe

[2018-06-22 20:37] nickreynolds commented on #17
This seems incredibly important. Can we get this functionality added soon?

[2018-07-05 12:15] bellaj commented on #17
me too i don't think why it's a missing feature, value field is recognized though!!!

[2018-07-05 14:44] bellaj commented on #17
based on @MoreSpaceThanMatter I've edited drizzle pakage to enable sending weis using a value field as in web3js
https://github.com/trufflesuite/drizzle-react-components/pull/23

[2018-07-06 09:01] mnaamani opened #25 "ContractForm: Argument ordering of cacheSend in handleSubmit is arbitrary"
When submitting the form, the ordering of arguments to cacheSend method:

`method.cacheSend(...Object.values(this.state))`

...are not guaranteed to be in the correct order:

Object.values iterates over the state keys in the same order as for...in  which iterates over the properties of an object in an [arbitrary order](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/fo

[2018-07-25 04:06] ProphetDaniel opened #32 "Created Drizzle-react-components-plus"
Solves most of the problems of drizzle-react-components.
Mainly:

- Lack of ContractParameterizableData
- Lack of ContractAllData
- Spinner for Account balance
- Input form for optional txParams

More information here: https://github.com/ProphetDaniel/drizzle-react-components-plus
I would be happy to see these improvements here.

[2018-07-28 18:33] cds-amal opened #33 "React components render method always repaint"
All the react components force a render/repaint even if state or props haven't changed.

[Gyazo Link](https://gyazo.com/ed71eb4bc67e349c067781559cfbf713) showing the issue

The components could each implement [shouldComponentUpdate()](https://developmentarc.gitbooks.io/react-indepth/content/life_cycle/update/using_should_component_update.html) to opt-out of the update. However, is this the best wa

[2018-08-04 20:30] #16 closed, assigned to nobody

[2018-08-11 12:39] JFGHT opened #34 "context.drizzle.contracts async issue"
Basically, this line
`
// Get the contract ABI
const abi = this.contracts[this.props.contract].abi;
` fails because `this.contracts` is empty at refreshing the page, the info comes later.

[2018-08-20 19:50] Garoth commented on #34
+1 to this issue. Btw that `abi` line in ContractData isn't even used...

But the real issue seems to be that drizzle devs assume drizzle is sync'd and ready to go at constructor time, which is done consistently in all the examples. I'm currently working around this issue by doing all the contract cacheCalls in `render`, and checking if the results are in. Part of the problem is also that drizzle-

[2018-09-03 19:53] ilanolkies opened #35 "ContractData does not support array of objects response"
I'm trying to use a `ContractData` to query a method which response is
[code]

This type of object is not supported to be displayed: objects inside a list.

https://github.com/trufflesuite/drizzle-react-components/blob/2dda732ab9ce17e19693495647048f7b62de6aaf/src/ContractData.js#L60

It should display the structures recursively.

[2018-09-12 16:35] DanielArndt commented on #16
Did #24 work as intended? I have version 1.2.0 of `drizzle-react-components` and it seems like it was transpiled out.

I have very little familiarity with most of the tools (`react`, `babel`, `drizzle`) so I'm struggling to debug any further, but I was able to trace it down to these lines of code in my `drizzle-react-components.js` (transpiled?) code:

[code]

In the above code, while running in m

[2018-09-12 16:49] DanielArndt commented on #16
Seems when I clone this repo and run `npm run build` I get different output:

[code]

[2018-09-16 22:29] ijxy commented on #33
@cds-amal I agree this is a problem. The drizzle-react documentation discusses a new DrizzleContext API for React Context v16.3+. The components given here currently are actually written to the legacy API (i.e. ≤ v16.3). I have submitted #37 with implementations following the new standards - I'm hopeful that this is a 'further up the stream' fix. Based on my testing, it seems to be; whereas `conso

[2018-10-29 02:07] #15 closed, assigned to nobody

[2018-11-11 07:01] cNoveron commented on #13
Same issue here!

I made my own React component which takes the color from the first 6 characters of an account, called Blance. There are 3 static Balances I render on load, and below there's this Balance that gets its address string from the state of the input above it.

[code]

![image](https://user-images.githubusercontent.com/29136383/48310099-494fa900-e54d-11e8-87e4-8e7021318aaf.png)

As you

[2018-11-11 07:18] cNoveron commented on #13
@RyRy79261 I think I found the cause of this

[ContractData.js](https://github.com/trufflesuite/drizzle-react-components/blob/master/src/ContractData.js) :trollface:
[code]
The dataKey is called just once by the constructor. Never to be seen again in render(), except this part.

[code]
Yeah, it talks about an "inital value" implying there should be more values throughout the component's life. But

[2018-11-11 13:50] RyRy79261 commented on #13
You biscuit, cheers! Maybe I can get it to work again 🤷‍♂️

[2018-12-04 10:06] maxme opened #44 "ContractForm: Form is not submitted and the page is reloaded when Enter key pressed"
This is a bit annoying, especially because it clears out the form.

[2018-12-06 14:20] St3fanoC commented on #15
I have the same error with the arrays of address in the version 1.2 of this library.
On line 59 of ContractData.js there is this condition: if (typeof displayData === 'array'),  I did various tests and noticed that if you use typeof on an array it always returns false.
I think the control is to be changed in Array.isArray (displayData).
I'm not a javascript black belt and I apologize if I said bul

[2018-12-16 15:47] cds-amal commented on #33
Thank you @parkinsonj!  PR #37 closes this.

[2018-12-16 15:47] #33 closed, assigned to nobody

[2018-12-21 11:09] alexiskattan opened #47 "Variable value?"
I'd like for the user to be able to define how much ETH they want to send for the contract, in return for tokens.  So they should be able to send ether .001 ETH or 1 ETH depending on how many tokens they want.  The component though seems to require me to hardcode the value parameter.  Is there a way to make the value parameter end-user defined?

[2019-01-09 20:40] honestbonsai opened #48 "uncaught at getAccounts Error: Please pass numbers as strings or BigNumber objects to avoid precision errors."
From trufflesuite/drizzle#87

[2019-01-10 17:23] #48 closed, assigned to nobody

[2019-01-13 04:15] soundyogi opened #51 "Discussion: Usage with new Consumer API"
Hiya,
this is not really an issue but I started refactoring the react-components to be used via the context.consumer pattern ( and to work with react-native and web if possible ).

My experience was fun but a bit strange so I wanted to share, cause it does feel a bit weird to me.
I came up with the following to call contract methods for example:

Usage Example:
[code]

Implementation:
https://gist

[2019-01-15 04:40] kombos opened #52 "Compatibility issue with the new drizzle Context API (DrizzleContext) ?"
Could you please tell me if the components < AccountData > , < ContractData > , < ContractForm > works using the new drizzle Context API (DrizzleContext.provider) ? I am visualizing the problem in the following avenue:

inside the AccountData.js, there is a drizzleConnect() function being called to mapStateToProps. This is exactly from where the "Accounts" data is being retrieved as props (this.pr

[2019-01-23 01:14] kombos commented on #52
closing this issue as it has been answered here :
https://github.com/adrianmcli/simple-drizzle-box/issues/2

[2019-01-23 01:14] #52 closed, assigned to nobody

[2019-01-25 05:11] samajammin commented on #13
@RyRy79261 @carlosescom did either of you find a solution to this? I'm hitting the same issue, where ContractData doesn't react to a state change. Should we be invoking the `cacheCall` somewhere other than the constructor?

[2019-01-25 05:44] samajammin commented on #13
Ah, sorry! Should have looked at the https://github.com/trufflesuite/drizzle-react-components/pull/50 PR reference above. Thanks!

[2019-01-25 07:50] samajammin opened #53 "ContractForm: bool types (checkboxes) do not set value"
I had a form input that included a boolean argument (`isAdmin`):
[code]
Contract code:
[code]
Regardless of if the `isAdmin` checkbox was checked or not, the record would save as `false`. Logging `this.state` in `handleSubmit()` of ContractForm.js revealed that my `isAdmin` value was always being set to an empty string.

PR fix coming...

[2019-01-29 20:16] cNoveron commented on #13
@sbrichards Had any luck making it work? I had to bundle up my own version of drizzle-react-components with Webpack. Just clone my repo if you want, the only caveat I had to deal with was to setup webpack.config to include es-2015 Babel preset.

[2019-01-30 01:36] samajammin commented on #13
@carlosescom yes, thanks for checking!

Unfortunately this was not the only issue I came across with this repo, and it appears PR fixes have not been getting merged, so I ended up creating my own ContractData component within my own project & grabbing your `componentDidMount()` code from https://github.com/trufflesuite/drizzle-react-components/pull/50 to get around it. Thanks again 👌

[2019-02-12 20:33] honestbonsai commented on #4
Seems to be the same as #13, closing this one since the other one has more activity. Please reopen if I got it wrong.

[2019-02-12 20:37] #4 closed, assigned to nobody

[2019-02-12 20:41] honestbonsai opened #55 "Add eslint and prettier"
I've noticed some PRs include prettification, which makes it tough to see what actually changed. We should use a common set of rules to align this repo around.

[2019-02-12 21:07] honestbonsai commented on #13
Will have to apply these changes to both `master` and `next`.

`master` uses the old context api: PR #5
`next` uses the newer one: PR #50

[2019-02-13 17:24] honestbonsai opened #56 "npm link not working"
So when trying to develop with a test repo and `npm link drizzle-react-components` it always says

`
Module not found: Can't resolve 'drizzle-react' in '/Users/hl/development/drizzle-react-components/dist'
`

If I just use the _original_ nonlinked DRC in `node_modules`, modify the `src` and rebuild, it works fine.

[2019-02-13 17:38] honestbonsai commented on #56
Perhaps these links will help:
- https://medium.com/@penx/managing-dependencies-in-a-node-package-so-that-they-are-compatible-with-npm-link-61befa5aaca7
- http://www.codetunnel.io/you-can-finally-npm-link-packages-that-contain-peer-dependencies/

[2019-02-13 17:44] honestbonsai commented on #56
Perhaps we could just add `drizzle-react` to `devDependencies` so we can symlink DRC from the test repo

[2019-02-13 18:41] #56 closed, assigned to nobody

[2019-02-13 19:23] honestbonsai opened #59 "Make CONTRIBUTING docs"
n/t

[2019-02-13 20:03] honestbonsai opened #60 "Fix npm link for next branch"
Same as issue #56 but for `next` branch

#58 should just be applied for `next` branch

[2019-02-13 20:10] honestbonsai commented on #60
Nvm, those changes were already in there

[2019-02-13 20:10] #60 closed, assigned to honestbonsai

[2019-02-13 20:11] honestbonsai commented on #13
Fixed by #57

[2019-02-13 20:11] #13 closed, assigned to nobody

[2019-02-13 20:12] honestbonsai commented on #32
@ProphetDaniel Thanks for the improvements and suggestions, we'll definitely take a look. Sorry for the long delay.

[2019-02-13 20:23] honestbonsai commented on #17
Similar to #2

[2019-02-13 20:29] honestbonsai opened #61 "Add test app"
It's getting really tiring to use external test projects. Should just bundle an example with this repo.

Would also be a nice (manual) test suite to make sure all our features are working.

[2019-02-14 21:09] #61 closed, assigned to nobody

[2019-02-14 21:15] honestbonsai commented on #51
@soundyogi I believe #63 should solve your issues? Seems like you're talking about the new Context support?

[2019-02-14 21:39] honestbonsai commented on #59
I believe there is one in progress by @DiscRiskandBisque

[2019-02-15 17:51] honestbonsai opened #65 "Add AccountData to README"
AccountData is missing from README

[2019-02-15 17:57] honestbonsai opened #66 "Fix lint errors"
After #64 has been merged, should fix lint errors

[2019-02-15 18:33] honestbonsai opened #68 "Release 1.3"
1. [x] Decide when to release
1. [x] Make release notes
1. [x] Tag
1. [x] Link Github to npm page
1. [x] Move to gitflow by setting develop as main branch, master should reflect what's out in production
1. [x] Publish to npm

[2019-02-15 20:06] #55 closed, assigned to honestbonsai

[2019-02-15 20:29] #66 closed, assigned to nobody

[2019-02-16 13:23] soundyogi commented on #51
Yes, to be specific I opened this Issue because I am having problems finding good patterns to use the new api.

I am pretty happy with the Abstraction above for sending transactions.
I also wrote another component called "ContractFetch" which is the preferred way of using the Context API.

It fetches all method data and renders a passed component as soon as all data has been fetched.

API:
[code]

[2019-02-18 12:11] macsj200 opened #69 "Customization"
I'm quite impressed with how easy it is to use this package to read and write values from a smart contract. That being said, the default view that the component provides isn't what I'm looking for.

Is there any way to customize the output of `<ContractData>`?

[2019-02-18 15:34] #44 closed, assigned to nobody

[2019-02-18 16:19] honestbonsai commented on #69
@macsj200 Can you provide an example of what you're looking for? Or an ideal API for this customization that you're looking for?

[2019-02-18 19:11] macsj200 commented on #69
Hi, thanks for the quick reply. I actually made a [pull request](https://github.com/trufflesuite/drizzle-react-components/pull/70) for allowing the feature I'm asking for.

Basically, I'm wondering if instead of having `<ContractData>` do the rendering itself (spit out `<li>`'s for example), what if we could pass in another component and use that custom component to render the actual data?

I trie

[2019-02-19 16:18] honestbonsai commented on #6
Closed by #46

[2019-02-19 16:18] #6 closed, assigned to nobody

[2019-02-19 16:19] honestbonsai commented on #35
@ilanolkies This looks to be the same as #6, which just got closed. Please reopen if you still experience issues.

[2019-02-19 16:19] #35 closed, assigned to nobody

[2019-02-19 16:23] honestbonsai commented on #69
@macsj200 Try using `npm link` and test it again. Would be nice if you could provide an example of this in the 2 `test-app`s that are bundled in this repo as well.

[2019-02-19 20:00] honestbonsai commented on #51
Hmm yea, I'm not a huge fan on how we need to wrap the components in the Consumer all the time either. I wonder if they could be bundled with the component itself.

@soundyogi Seems like you're advocating for a more generalized approach with regards to the components?

[2019-02-20 16:01] ilanolkies commented on #35
Thanks. I'll test it ASAP

[2019-02-20 16:30] honestbonsai commented on #34
This line has since been removed, please reopen the issue if the problem persists. Thanks!

[2019-02-20 16:30] #34 closed, assigned to nobody

[2019-02-25 16:19] honestbonsai commented on #25
Closing since issues have been addressed by recent PRs.

[2019-02-25 16:19] #25 closed, assigned to nobody

[2019-03-01 11:26] jklepatch opened #71 "Custom formatter props for ContractData?"
Could we add a prop to specify a custom formatter function for `<ContractData />`? For example, it could be useful for Ether amounts.

[2019-03-02 18:33] mwaeckerlin commented on #65
i.e, add to Readme: How do I get the *balance* not only of the user's account, but also of a *contract*? [Some](https://itnext.io/how-to-use-drizzle-truffle-and-react-to-make-the-best-front-end-for-your-ethereum-dapp-ee09c8e94eae) pretend by using method `balanceOf`, but that's a lie, that results in `Uncaught TypeError: Cannot read property 'cacheCall' of undefined`.

[2019-03-02 18:39] mwaeckerlin opened #72 "Add Documentation to README, How To Get Contract Balance"
Please add an information to the README, how to get contract balance using drizzle components.

Or does it need a new component? If yes, then please consider this as a feature request.

[2019-03-04 15:30] honestbonsai commented on #72
@mwaeckerlin

Recently added test apps to the repo, so you can feel free to pull it and see all the features of `drizzle-react-components` and how to implement them.

Take a look at this line in the `test-app`.

https://github.com/trufflesuite/drizzle-react-components/blob/master/test-app/app/src/MyComponent.js#L74

Closing this. Please reopen if you still have issues with this.

[2019-03-04 15:31] honestbonsai commented on #71
@jklepatch Not sure if I'm understanding you correctly. Can you provide an example api of what you're looking for?

[2019-03-04 15:55] honestbonsai commented on #68
I want #59 #65 in for 1.3 and that will probably be it for PRs

Also need to switch main branch to `develop`, follow gitflow. `master` should reflect production.

[2019-03-04 19:14] honestbonsai opened #75 "Point npm listing to github repo"
Part of 1.3 release #68

[2019-03-05 15:41] #75 closed, assigned to nobody

[2019-03-05 15:41] #65 closed, assigned to nobody

[2019-03-05 15:43] #59 closed, assigned to nobody

[2019-03-05 22:45] honestbonsai commented on #68
`develop` has been made the default branch

[2019-03-06 13:31] mwaeckerlin commented on #72
**No**, @honestbonsai, that is not what I mean! The line shows, how to call a method `balanceOf` in a `TutorialToken`. What I need is to get the balance of a **contract**.

That's what you get, when you call `drizzle.web3.eth.getBalance(contractAddress)`.

Currently, I use this workaround:
[code]

Please reopen the ticket!

[2019-03-06 15:41] honestbonsai commented on #72
@mwaeckerlin Sorry for mistakenly closing it and thanks for the clarification.

This is indeed a feature request, none of the current components will do what you are looking for.

[2019-03-06 19:41] mwaeckerlin commented on #72
Thank you, @honestbonsai. Any chance to get an implementation soon?

BTW: Is there any discussion group on the library? I had other questions, e.g. how to cope with maps and arrays. I've seen in the code, that there is a mapping to html-lists, but how and what are the preconditions?

[2019-03-07 15:09] honestbonsai commented on #72
@mwaeckerlin I can't promise an implementation for this feature immediately, as there are a number of other things I'm working on at the moment. We do welcome PRs from the community.

As far as discussion group and community, you can go to [Spectrum](https://spectrum.chat/trufflesuite) for general support, GitHub for diagnosed errors or specific feature discussion, and [Reddit](https://www.reddit.

[2019-03-07 17:51] honestbonsai commented on #68
Released to npm!

[2019-03-07 17:51] #68 closed, assigned to nobody

[2019-03-07 19:05] honestbonsai opened #77 "Add stalebot"

[2019-03-07 19:35] #77 closed, assigned to nobody

[2019-03-08 15:59] honestbonsai commented on #11
Just FYI: https://solidity.readthedocs.io/en/v0.5.5/types.html#mapping-types

And https://ethereum.stackexchange.com/questions/13167/are-there-well-solved-and-simple-storage-patterns-for-solidity

[2019-03-11 07:12] rkostecki opened #79 "this.utils is not defined"
https://github.com/trufflesuite/drizzle-react-components/blob/f8592a1a76989f759aefc9e9c746dc204a65f4ff/src/new-context-api/ContractForm.js#L40

[2019-03-11 10:13] mwaeckerlin opened #80 "Flexibility in Formatting"
I have seen here many questions, requests (e.g. #69, #71) and one idea (#70) on how drizzle-react-component could be made more flexible. Here is my suggestion:

## Problems

- there is no way to configure the rendering of the values (except suggestion in #70)
- arrays are mapped to unordered lists, there no way to change this (except suggestion in #70)
- there is no way to render the target contra

[2019-03-11 17:07] #79 closed, assigned to nobody

[2019-03-11 20:19] honestbonsai opened #83 "Fix test apps not at correct DRC version"

[2019-03-11 20:36] #83 closed, assigned to nobody

[2019-03-13 14:31] honestbonsai opened #85 "Test apps still have issue with 1.3"
Brought up in #81

https://github.com/trufflesuite/drizzle-react-components/pull/81#issuecomment-472190822

[2019-03-13 14:52] honestbonsai commented on #69
Closing in favor of #80, which was closed by #81

[2019-03-13 14:52] #69 closed, assigned to nobody

[2019-03-13 14:55] honestbonsai commented on #71
@jklepatch Can you confirm if this was resolved by #81 and its custom render props?

[2019-03-13 14:57] honestbonsai commented on #80
@mwaeckerlin This issue is quite large and outlines too many items for a single Github issue. Please break it down into smaller items and open issues for each one.

I will consider the custom render props part of the issue resolved by #81.

[2019-03-13 15:18] honestbonsai commented on #85
Tested again, and it works. Not sure what the issue is here.

[2019-03-14 14:12] mwaeckerlin commented on #80
I'll open new tickets for the issues that are now still open.

[2019-03-14 14:12] #80 closed, assigned to nobody

[2019-03-14 14:19] mwaeckerlin commented on #80
BTW, @honestbonsai, I suggest a release to npm from current development now. There are useful new features and arrays are fixed.

[2019-03-14 14:43] mwaeckerlin opened #86 "Configurable Form in ContractForm.js"
Allow ContractForms to delegate rendering of the form details, similar to #81. A user should have the possibility to render the form according to his needs.

Currently:
- there is no way to specify the range in forms
- there is no way to select the element for an input (e.g. `<textarea>` vs `<input type="text">`) or even `<TextField>` from `@material-ui`
- there is now way to specify dependencies

[2019-03-14 14:48] mwaeckerlin opened #87 "Render Dynamic Contracts"
Render contracs that are dynamically instanciated using an address and an ABI, i.e. render the target contract in an array of addresses to contracts. Perhaps this will need a new class, sich as `DynamicContract.js`.

[2019-03-14 14:49] mwaeckerlin opened #88 "Get Balance of Contract"
Implement a method to get the balance of a contract.

[2019-03-14 19:30] cds-amal commented on #85
@honestbonsai , I found no issues running with `ganache ui` and `truffle develop`

[2019-03-14 21:26] honestbonsai commented on #85
Thanks @cds-amal !

In that case I will be closing this issue. I think Metamask could be the culprit. Another option is to disable/uninstall Metamask then re-enable/install it again to get the test apps working. (Yes, annoying I know.)

[2019-03-14 21:26] #85 closed, assigned to nobody

[2019-03-15 05:15] jklepatch commented on #71
Yes it is

[2019-03-15 05:21] #1 closed, assigned to nobody

[2019-03-15 05:21] #2 closed, assigned to nobody

[2019-03-15 05:21] #8 closed, assigned to nobody

[2019-03-15 05:21] #47 closed, assigned to nobody

[2019-03-15 12:57] mwaeckerlin commented on #86
1. The current default implementation does not clean the input fields after sending the data. I suppose that should be fixed too, @honestbonsai?
2. I'll try to rewrite your code to use `React.createRef()` or  `react.useState()` to bind form elements to states. Do you agree, @honestbonsai?

See:
- https://stackoverflow.com/questions/36683770/how-to-get-the-value-of-an-input-field-using-reactjs belo

[2019-03-15 18:38] honestbonsai commented on #86
@mwaeckerlin

1. If this issue is just about render props, please try to keep it to just that. Open a new issue for cleaning input fields.
1. I would consider this out of scope. Please keep refactors separate from feature additions/bug fixes. If you would like to refactor, please open a new issue + PR.

Hooks are in React 16.8 and are actually quite new. Moving to hooks isn't a priority for this c

[2019-03-15 19:53] honestbonsai commented on #71
Thanks! Closing.

[2019-03-15 19:53] #71 closed, assigned to nobody

[2019-03-16 06:55] mwaeckerlin commented on #86
@honestbonsai, only forward rendering is basically a 1-liner. But I am thinking and experimenting on what kind of data should be shared to make sense for reusing parts of the ContractForm in the render function.

That's why at least the second of my two points goes hand in hand with the basic render-prop-feature.

I googled around and found the hooks to be a nice way to easily share some basic dat

[2019-03-16 07:07] mwaeckerlin commented on #86
Some of my current investigations:
- I would like to have the possibility to reuse `handleSubmit` of ContractForm, when the button in the client is pressed.
- Should later ContractForm add some more functionality, e.g. information on the contract-method-transaction-status, I would like the render-function to have both possibilities, reuse or overwrite.

That's why I think about what data should be

[2019-03-16 11:08] mwaeckerlin commented on #86
@honestbonsai, it works very well with the new ref-property. So this change is a must for my addition.

Currently, I am thinking about how to solve the following problem, perhaps you have a good idea, @honestbonsai:

How to handle this case: `sendArgs` requires a `value` and that value depends on a form input field?

In my example case, I have contract method that sends an amound of ether and the

[2019-03-17 10:05] mwaeckerlin opened #90 "Warnings in Develoment Branch; Failed prop type"
There are some Warnings in the development branch that should be eliminated:

    in LoadingContainer

    in ContractData

[2019-03-17 10:05] mwaeckerlin opened #91 "Nightly Development Builds"
Please add a nightly npm-release for the latest drizzle develop branch.

Reasons:
- It would be handy for developers to be able to rely on the latest features, without having to clone and build the project on their own.
- The current latest release, 1.3.1, is very outdated: no «new» interface, non-working arrays, missing render props

BTW: It would be time for a new release. The current deveopment

[2019-03-18 09:07] mwaeckerlin commented on #90
As far as I understand, in `popTypes` `contracts:` should be `PropTypes.object.isRequired` instead of `PropTypes.array.isRequired`.

[2019-03-18 19:21] honestbonsai opened #92 "Refactor deps in package.json"
Refer to:

1. https://github.com/trufflesuite/drizzle-react-components/blob/develop/webpack.prod.js#L34
1. https://webpack.js.org/configuration/externals/

We rely on the versions in the users' app. So I'm pretty sure having https://github.com/trufflesuite/drizzle-react-components/blob/develop/package.json#L25 isn't proper. If anything it should be moved to `devDependencies`.

[2019-03-18 19:26] honestbonsai opened #93 "Deprecate legacy context components"
This will require a 2.0 release.

[2019-03-21 10:59] mwaeckerlin commented on #88
Here is my suggestion, as I implemented it in my project. If you want, @honestbonsai, you may integrate my solution in `drizzle-react-components` (or I can do it for you, including tests and docu):

ContractBalance.js
[code]

[2019-03-21 11:10] mwaeckerlin commented on #87
Here is my suggestion, as I implemented it in my project. If you want, @honestbonsai, you may integrate my solution in `drizzle-react-components` (or I can do it for you, including tests and docu):

DynamicContracts.js
[code]

For the usage you have several options:
- pass a render prop
- add nested `ContractData` or `ContractForm` (where the contract prop is set automatically by `DynamicContract`

[2019-03-21 11:54] mwaeckerlin commented on #72
Opened a feature request in #88.

[2019-03-21 11:54] #72 closed, assigned to nobody

[2019-03-21 20:09] #90 closed, assigned to nobody

[2019-03-22 16:00] DiscRisknBisque commented on #11
Try passing in 8 as an integer instead, like so:
`ContractData contract="SimpleStorage" method="cool" methodArgs={8}`

Based on the `slice` message, I think web3 doesn't know what to do with the array for accessing this mapping.

[2019-03-25 14:50] honestbonsai commented on #88
@mwaeckerlin Thanks for the sample of your code.

Does this maintain a live update of the balance?

[2019-03-27 09:13] mwaeckerlin commented on #88
Not yet.

@honestbonsai, do you know what I should use to trigger updates? The most primitive approach would be to reload in time intervals. A better approach would be, if I could register to some Ethereum «Balace-Changed-Events» do you know if there exists something like this?

[2019-03-27 09:51] mwaeckerlin commented on #88
The only solution I find is to watch the blocks: https://ethereum.stackexchange.com/questions/25733/automatically-update-account-balance-with-web3-js-without-polling

[2019-03-27 13:07] mwaeckerlin commented on #88
The only solution I find is to watch the blocks: https://ethereum.stackexchange.com/questions/25733/automatically-update-account-balance-with-web3-js-without-polling

[2019-03-27 13:09] mwaeckerlin commented on #88
BTW, @honestbonsai, it is the same in `ContractData`: There is no live update, if the return value of the function would change…!

[2019-03-28 10:24] mwaeckerlin commented on #17
IMHO, this ticket can be closed, @honestbonsai:
 - there is now `sendArgs`, where a value can be given
 - as you, @honestbonsai, demonstrated, with a sate in the parent and the new `render` prop, even a dynamical adaption, i.e. get the value from an input field, can be covered

[2019-03-28 15:04] honestbonsai opened #97 "Improve api for translateType for custom render in ContractForm"
I'm not a huge fan of the translateType interface in `ContractForm`'s custom render, would be good to just send it down with `this.inputs` somehow.

Though I don't want to mutate `this.inputs`

[2019-03-28 17:18] honestbonsai commented on #88
@mwaeckerlin Sorry not sure what you mean for `ContractData` not being live. `ContractData` is a live update of the data you are watching. It should match the state of what's on the block chain.

[2019-03-28 20:41] honestbonsai commented on #86
Closed by #95 #96

[2019-03-28 20:42] #86 closed, assigned to nobody

[2019-03-29 03:39] adrianmcli commented on #97
What exactly does `translateType` do? I don't see any documentation for it.

[2019-03-29 12:25] mwaeckerlin commented on #88
Sometimes it does, sometimes it does not. I have a case, where calling a payment function would change the result of another method, but it's not updated. So in your opinion, that's a bug in drizzle, if it does not? If so, I'll try to reproduce it and place a bug report…

Regarding this extension here: Should I add an update for the balance and if yes, what should it be based on? Should I watch th

[2019-03-29 12:29] mwaeckerlin commented on #91
@gnidan, status?

[2019-03-29 12:31] mwaeckerlin commented on #91
@honestbonsai, what about releasing a new version `1.4.0` containing the recent changes regarding `render`?

[2019-03-29 14:38] honestbonsai commented on #97
With the custom rendered components for `ContractForm`, need to figure out a better way to send down the types.

See the current state:
https://github.com/trufflesuite/drizzle-react-components/blob/develop/test-app/app/src/MyComponent.js#L14

Also see the default render version
https://github.com/trufflesuite/drizzle-react-components/blob/develop/src/new-context-api/ContractForm.js#L61

[2019-03-29 14:41] honestbonsai commented on #88
@mwaeckerlin Yea, I'd consider that a bug. Would definitely appreciate a bug report :). The whole point of Drizzle and its companion libraries is to make it easy to keep things in sync with the blockchain state. We should not need to procedurally call anything to keep things updated.

Yes, I'd say `ContractBalance` needs to be able to watch the balance live. Not sure if there's a way to do it thro

[2019-03-29 14:45] honestbonsai commented on #91
@mwaeckerlin I'm looking to get #97 resolved before 1.4.0 is released.

[2019-03-29 15:56] honestbonsai commented on #97
I have an idea of what to do for this.

[2019-03-29 19:01] honestbonsai opened #99 "Release 1.4"
- [x] Point test apps to DRC 1.4
- [x] Bump version
- [x] Prep release notes

[2019-03-29 19:22] honestbonsai opened #100 "Remove need for manual passing of drizzle props in new context api components"
See if we can just bundle the Drizzle provider and consumer for users

[2019-03-29 19:25] honestbonsai commented on #100
If this is possible, it should be the default components exported in 2.0. The base ones that require manual prop passing of `drizzle` should be under a different namespace.

[2019-03-29 19:38] honestbonsai opened #101 "AccountData custom render"
AccountData should have a custom render prop just like the rest of the components now.

[2019-03-29 20:39] honestbonsai commented on #87
@mwaeckerlin Does this update when the props change? E.g. I pass in new props for `address` etc. I would expect the component to make a new dynamic contract. But I don't see anything to handle that. Correct me if I'm misunderstanding.

Right now it looks like it only works for 1 contract on initialization. New props should always update the component.

[2019-04-01 08:14] mwaeckerlin commented on #88
@cds-amal, why do you close this issue??!? Please reopen!

@honestbonsai, ok, I'll add an update. Probably watching blocks, unless we'll find a better solution.

[2019-04-01 08:23] mwaeckerlin commented on #87
@honestbonsai, watching props could be added the same way, as you do it e.g. in `ContractData`.

Yes, by design, you instanciate one dynamic contract per address.

I use it in the following context: A method on a contract, accessed using `ContractData`, returns a list of addresses of other contracts. In the `render` props, I iterate through this list do show information of the referenced contracts

[2019-04-01 14:39] honestbonsai commented on #87
Here's a thought, Drizzle can handle dynamically added contracts. Why not just add them through Drizzle itself and then output normal `ContractData` components as with your own contracts?

[2019-04-08 14:51] #101 closed, assigned to nobody

[2019-04-08 14:52] #97 closed, assigned to honestbonsai

[2019-04-08 15:02] honestbonsai commented on #99
Just published

[2019-04-08 15:02] #99 closed, assigned to honestbonsai

[2019-04-15 15:45] cds-amal commented on #93
We should coordinate with an updated release of truffle boxes to use the newer 2.0 API

[2019-04-18 04:02] adrianmcli commented on #53
Let's keep this open for now since there is a PR in-review (although admittedly it is long overdue).

[2019-04-20 19:23] Chanutg opened #105 "Trouble sendArgs with transfer method"
Hello i'm looking to make a transfert with adress and value setup, in order to just click on a button for the user to buy something with token.

I use a ContractForm, working well if adresse and value set by user, but sendArgs is not working.
Here is my form :

                  <ContractForm
                    contract="Influence"
                    method="transfer"
                    methodA

[2019-04-21 16:06] soundyogi commented on #51
@honestbonsai

Yes , we have been experimenting with this the last weeks and I came up with 1 Component that uses the consumer internally. Handling data caching aswell as transactions. As you said, The Problem is that you have to give it the correct instance of "context", so the component has to receive it as a prop.

So far we could replace all the drizzle-react-components with this single one.
T

[2019-04-21 16:06] #51 closed, assigned to nobody

[2019-04-21 21:00] #32 closed, assigned to nobody

[2019-04-22 10:41] adrianmcli commented on #105
@honestbonsai Do you mind taking a look at this when you have the time?

[2019-04-22 17:10] adrianmcli commented on #92
@honestbonsai wait, isn't this supposed to be a `peerDependency`?

[2019-04-22 17:11] adrianmcli commented on #93
I believe a lot of people are still not satisfied with the new context API (for better or worse). I think we should still continue supporting the legacy context components in the mean time. Thoughts? @cds-amal @honestbonsai

[2019-04-22 17:18] honestbonsai commented on #93
@adrianmcli I understand the "meantime" to mean pre-v2.0, while we figure out the best implementation for the new context api components for v2.0. So as long as we don't release 2.0 we will support it is my thoughts. I've always seen 1.x as a staging ground to get feedback on the appropriate API for them, and 2 would solidify them.

#100 is partly related to this

[2019-04-22 17:19] honestbonsai commented on #92
@adrianmcli Yea true, that's probably the correct place for it

[2019-04-30 09:03] adrianmcli commented on #51
I was wondering, maybe we could use the `Class.contextType` API to make things a little less verbose? The function as a child pattern is good, but can be a little verbose when we need to use it in a lot of different components.

A similar issue was discussed here: https://github.com/trufflesuite/drizzle-react/issues/57#issuecomment-487863777

[2019-05-06 15:11] adrianmcli commented on #105
@chanutg Can you provide us a reproduction repo for this bug?

[2019-05-08 00:21] soundyogi commented on #51
@adrianmcli
Uh I did not know that. I like that one.
That still does not solve the problem if you want to abstract the whole thing away.
But that probably could be fixed with a webpack build that marks the drizzle-react lib as external dependency. So the context should be the same - and the user would only need to use the provider.

This is the last iteration of our <Contract/> Component which han

[2019-05-28 16:59] #11 closed, assigned to nobody

[2019-05-28 20:54] adrianmcli commented on #100
@honestbonsai Is this fixed with the ability to do the `Class.contextType` [pattern](https://reactjs.org/docs/context.html#classcontexttype) with Drizzle-React [1.3.0](https://github.com/trufflesuite/drizzle-react/releases/tag/1.3.0)?

[2019-06-02 15:45] mwaeckerlin commented on #87
Are you interested to get it?

It works fine in our project …

[2019-06-02 15:47] mwaeckerlin commented on #88
To do for me…

[2019-06-02 15:48] mwaeckerlin commented on #91
still TBD

[2019-06-03 11:23] #17 closed, assigned to nobody

[2019-06-03 15:02] honestbonsai commented on #87
@mwaeckerlin Sorry for the delay.

There's a few things I think need to be addressed:
1. `context.drizzle.addContract` should happen every time props change. Of course there would have to be a way to check we aren't adding contracts which have already been added once.
2. render props vs children: The rest of the components in DRC use render props for custom rendering, so I think this one should al

[2019-06-05 21:45] samajammin commented on #53
@adrianmcli I believe this can be closed now that https://github.com/trufflesuite/drizzle-react-components/pull/54 is merged

[2019-06-07 08:16] adrianmcli commented on #53
Thanks @sbrichards

[2019-06-07 08:16] #53 closed, assigned to nobody

[2019-06-15 14:44] ijxy opened #109 "ContractData fails using internal variables + getter functions"
After making the below changes to the 'test-app':

[code]

[code]

launching the frontend causes an error:

![image](https://user-images.githubusercontent.com/32483798/59552857-f70fb400-8f83-11e9-8091-88d6c93942a3.png)

(text version in full below)

[code]

[2019-06-15 15:02] ijxy commented on #109
![image](https://user-images.githubusercontent.com/32483798/59553008-f0367080-8f86-11e9-9f58-48498a8dc329.png)

[2019-06-15 21:05] ijxy commented on #109
So I don't think it has anything to do with whether `storedData` is public or not as I've tried it both ways and `get` still fails with the same error.

[2019-06-16 05:45] ijxy commented on #109
I was able to get the truffle react-box (no drizzle) working with the same contract
[code]
so I'm definitely inclined to think that this is a drizzle issue, specifically with `cacheCall`.

[2019-06-17 15:11] adrianmcli commented on #109
Hey thanks for reporting this issue. Do you think you can throw up a reproduction repo so we can run it ourselves and figure out he problem?

[2019-06-22 01:50] adrianmcli commented on #92
We need to do this.

[2019-06-24 23:00] ijxy commented on #109
Fortunately, after many hours, I was able to figure it out. Eventually, I realised from the JS console logs that the getter methods were becoming objects with `cacheSend` methods inside drizzle instead of `cacheCall`. It was at that point that I realised that I'd forgotten to add `view` to the signature. Once added, the problem was no more. Facepalm.

[2019-06-24 23:00] #109 closed, assigned to nobody

[2019-06-25 01:47] adrianmcli commented on #91
Just an update on this. We are in the process of moving this repo and the other Drizzle-related repos into a monorepo so that we can orchestrate this better.

[2019-06-27 14:53] sampsojp opened #111 "setBool method not changing value for SimpleStorage"
setBool method not changing value for SimpleStorage

[2019-06-28 18:47] #93 closed, assigned to honestbonsai

[2019-07-12 15:37] #105 closed, assigned to nobody

[2019-08-02 17:59] RobinReborn opened #112 "AccountData - accounts and accountBalances are supposed to be arrays but are reduced into objects"
I get this warning in react - I have fixed it by modifying AccountData.js and using it locally.

[2019-08-03 21:37] #100 closed, assigned to nobody

[2019-08-08 16:58] #88 closed, assigned to nobody

[2019-08-09 16:22] #87 closed, assigned to nobody

[2019-08-22 20:27] Intoit82 opened #113 "Pass array as paramter to ContractForm"
Hi,

I am trying to pass an array of uint[] to a ContractFrom using Drizzle.

I have a simple test contract:

[code]

Inside my render function I have:

`<ContractForm contract="MyContract"
        method="setNums"
        sendArgs ={{ from: accounts[0], gas: 3000000 }}
        labels={["Need an Array in here"]} /> `

However, as far as I understand the input cannot be an array - only numbers and

[2019-08-27 19:02] AndriianChestnykh commented on #113
Hi @Intoit82 ,
I ran into the same problem a few days ago. The only solution which I figure out is to add something like
`case /^uint256[]/.test(type):
      return "text";`
somewhere in this [function](https://github.com/trufflesuite/drizzle-react-components/blob/develop/src/ContractForm.js#L5).
This will allow you to put something like [1,2,3] into as into you field of text type. That worked wit

[2019-08-27 19:11] #113 closed, assigned to nobody

[2019-08-28 02:36] #92 closed, assigned to nobody

[2019-08-31 03:32] #91 closed, assigned to nobody

[2019-09-02 15:37] #111 closed, assigned to nobody